  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link href="~/css/landingpage.css" rel="stylesheet" />
<header class="py-lg-0 py-md-0 py-sm-0 mb-4 row border">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <form class=" d-flex ms-3 mb-lg-0 d-flex justify-content-center align-items-center search-form gap-2 pe-2"
                  role="search">
                <i class="bi bi-search ms-0 mt-1"></i>
                <input type="search" class="form-control border-0 ms-4" placeholder="Search Missions..." aria-label="Search">
            </form>
        </div>
        <!-- <div class="container d-flex flex-wrap justify-content-center">
          <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Double header</span>
          </a>

        </div> -->

        <div class="filters col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-content-center gap-5 gap-md-3 gap-sm-2">
            <ul class="navbar-nav justify-content-center border-start border-end">
                <li class="nav-item">
                    <a class="text-decoration-none p-2 text-dark d-flex align-items-center justify-content-between" data-bs-toggle="dropdown" aria-expanded="false">
                            Country 
                        </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-center  p-2">
                <li class="nav-item dropdown">
                    <a class="text-decoration-none text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            City 
                        </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
                <ul class="navbar-nav justify-content-center">
                <li class="nav-item dropdown">
                    <a class="text-decoration-none text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            Theme 
                        </a>
                    <ul class="dropdown-menu dropdown-menu-dark p-2">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
                <ul class="navbar-nav justify-content-center  p-2">
                <li class="nav-item dropdown">
                    <a class="text-decoration-none text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            Skills 
                        </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
                        <li><input type="checkbox" value="Harsh" name="harsh" id="" class="ms-3 checkbox">Harsh</li>
                        <li><input type="checkbox" value="punjabi" name="punjabi" id="" class="ms-3 checkbox">punjabi</li>
                        <li><input type="checkbox" value="kaushal" name="kaushal" id="" class="ms-3 checkbox">kaushal</li>
                        <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </li>
            </ul>
        </div>
    </header>

  

    <!-- 2nd navbar -->
    <!-- filters div starts -->

    <div class="filters-section mb-3 d-flex align-items-center flex-wrap justify-content-center">

        <!-- clear all button -->
        <!-- clear all button -->
    </div>

    <!-- filters div ends -->

